/*

le logo fait 100px de large

pour ce qui est des marges et padding, utilise les valeurs que tu veux tant que ça ressemble un minimum à ce qu'il y a sur les screenshots
*/

body{
    background-color: #0f0e17; /* color: black-blue */
    color: #fffffe;
  }
  /*
  header .container{
    
    
  }
  
  header .container img{
     
  }
  
  nav{
    
  }
  
  nav ul {
     
  }
  
  nav li {
     
  }
  
  nav li a {
     
  }
  */
  section{
    background-color: #fffffe;
    max-width: 790px;
  }
  
  h2{
    color: #ff8906;
  }
/*
  p{
   
  }
*/
  
  footer{
    /* insère ton style ici */
    background-color: #e53170; /* color: rosa */
  }